@model Skill

<form method="post" asp-action="Delete">
  <input asp-for ="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-danger">Delete Skill <hr /></h2>
            
        </div>
    @* <div asp-validation-summary="All"></div> *@
         <div class="mb-3">
        <label asp-for="Skills"></label>
        <input asp-for="Skills" disabled class="form-control" />
        
       </div>
      
      <button type="submit" class="btn btn-danger" style="width: 150px;">Delete </button>
      <a asp-asp-controller="Skill" asp-action="Index" class="btn btn-secondary" style="width: 150px;">
        Back to List
      </a>
    </div>

</form>

@section Scripts{
    @{
      <partial name="_ValidationScriptsPartial" />
    }
}